[submodule ".vim/pack/color/start/molokai"]
	path = .vim/pack/color/start/molokai
	url = https://github.com/tomasr/molokai
[submodule ".vim/pack/plugins/start/lightline"]
	path = .vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
