[submodule ".vim/pack/color/start/molokai"]
	path = .vim/pack/color/start/molokai
	url = https://github.com/tomasr/molokai
[submodule ".vim/pack/plugins/start/lightline"]
	path = .vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/lsp/start/async.vim"]
	path = .vim/pack/lsp/start/async.vim
	url = https://github.com/prabirshrestha/async.vim.git
[submodule ".vim/pack/lsp/start/asyncomplete.vim"]
	path = .vim/pack/lsp/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule ".vim/pack/lsp/start/asyncomplete-lsp.vim"]
	path = .vim/pack/lsp/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule ".vim/pack/lsp/start/vim-lsp"]
	path = .vim/pack/lsp/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule ".vim/pack/lsp/start/vim-lsp-settings"]
	path = .vim/pack/lsp/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
[submodule ".vim/pack/color/start/vim-hybrid"]
	path = .vim/pack/color/start/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule ".vim/pack/rust/start/rust.vim"]
	path = .vim/pack/rust/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
